html {
  background-color: $background-color;
}

.page-container {
  margin-top: 52px;
}

.navbar {
  .menu-spacer {
    width: 64px;
  }
  .navbar-title {
    font-size: 1.4em;
    margin-top: -3px;
    color: $logo-black;
    @media screen and (max-width: $medium-menu-breakpoint) {
      display: none;
    }
  }
  .site-logo-image {
    height: 28px;
    margin-top: -3px;
    @media screen and (min-width: $medium-menu-breakpoint) {
      margin-right: 8px;
    }
  }
  .main-nav-items {
    display: relative !important;
    margin-left: auto;
    margin-right: unset;
    .icon {
      margin-right: 1px;
    }
    @media screen and (max-width: $small-menu-breakpoint) {
      text-align: center;
      .navbar-item {
        padding: 5px;
      }
      .menu-item-name {
        display: block;
        font-size: 0.6em;
        margin-top: 5px;
      }
      .icon {
        display: block;
        width: 100%;
        margin-right: 0px;
      }
    }
    @media screen and (max-width: $phone-menu-breakpoint) {
      .menu-item-name {
        font-size: 0.5em;
      }
    }
  }
}

.flash {
  margin: 5px;
}

.new-resource,
.edit-resource {
  padding: 12px;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  .new-resource-form-container,
  .edit-resource-form-container {
    width: 100%;
    max-width: 700px;
    .title {
      font-size: 1.6rem;
      font-weight: 700;
      color: #4a4a4a;
      margin-top: 10px;
      margin-bottom: 10px;
    }
    .actions {
      padding-top: 10px;
    }
  }
}
