.all-projects {
  .projects-page-title {
    padding: 20px 0px 24px 0px;
    text-align: center;
    font-size: 1.9em;
    font-weight: 700;
  }
  .project-cards-container {
    display: flex;
    justify-content: center;
    .project-card {
      .project-link {
        display: block;
        height: 100%;
        width: auto;
        padding: 16px 20px;
      }
      width: 100%;
      max-width: 625px;
      min-height: 200px;
      background-color: $card-background;
      box-shadow: $shallow-box-shadow;
      border-radius: 9px;
      margin: 0px 12px 12px 12px;
      .project-title {
        font-size: 1.5em;
        font-weight: 700;
        color: $dark-text-color;
      }
      .project-description {
        color: $dark-text-color;
        max-height: 100%;
        margin: 2px 0px 18px 0px;
      }
      .user-avatar {
        margin-right: 5px;
      }
    }
  }
}

.project-details-container {
  display: flex;
  justify-content: center;
  .project-details-card {
    margin-top: 10px;
    margin-bottom: 18px;
    padding: 20px;
    background-color: $card-background;
    box-shadow: $deep-box-shadow;
    width: 90%;
    max-width: 930px;
    min-height: 88vh;
    border-radius: 3px;
    @media screen and (min-width: $navbar-breakpoint) {
      margin-bottom: 35px;
    }
    .project-name {
      text-align: center;
      font-size: 1.9em;
      font-weight: 700;
      padding: 12px 0px;
    }
    .project-description {
      padding: 10px 40px 14px 40px;
    }
    .user-avatars-container {
      display: flex;
      justify-content: center;
      .user-avatar {
        margin: 2px;
      }
    }
    .project-resources-container {
      margin: 20px 0px;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
    }
  }
}

.new-project,
.edit-project {
  padding: 12px;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  .new-project-form-container,
  .edit-project-form-container {
    width: 100%;
    max-width: 700px;
    .title {
      font-size: 1.6rem;
      font-weight: 700;
      color: #4a4a4a;
      margin-top: 10px;
      margin-bottom: 10px;
    }
    .actions {
      padding-top: 10px;
    }
  }
}
