.project-todo-lists-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  .project-todo-lists-card {
    margin-top: 10px;
    margin-bottom: 18px;
    padding: 20px;
    background-color: $card-background;
    box-shadow: $deep-box-shadow;
    width: 90%;
    max-width: 930px;
    min-height: 88vh;
    border-radius: 3px;
    @media screen and (min-width: $navbar-breakpoint) {
      margin-bottom: 35px;
    }
    .project-todo-lists-title {
      text-align: center;
      font-size: 1.9em;
      font-weight: 700;
      padding: 12px 0px;
      margin: 0px 60px;
      color: $dark-text-color;
      border-bottom: 3px solid $dark-text-color;
    }
    .project-todo-lists {
      margin-top: 40px;
      display: flex;
      flex-direction: column;
      align-items: center;
      .todo-list {
        width: 100%;
        max-width: 650px;
        margin: 20px 0px 40px 0px;
        .todo-list-header-container {
          display: flex;
          margin: 0px 0px 12px -2px;
          .todo-list-pie-chart {
            margin: -10px 10px 0px 0px;
          }
          .todo-list-header-container-right {
            margin-top: -30px;
            .completed-count {
              font-size: 0.8em;
            }
            .todo-list-link {
              font-weight: 800;
              font-size: 1.2em;
              text-decoration: underline;
              line-height: 1.1;
            }
          }
        }
      }
    }
  }
}

.project-todo-list-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  .project-todo-list-card {
    margin-top: 10px;
    margin-bottom: 18px;
    padding: 20px;
    background-color: $card-background;
    box-shadow: $deep-box-shadow;
    width: 90%;
    max-width: 930px;
    min-height: 88vh;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    @media screen and (min-width: $navbar-breakpoint) {
      margin-bottom: 35px;
    }
    .todo-list {
      padding: 65px 0px;
      width: 100%;
      max-width: 650px;
      .todo-list-header-container {
        display: flex;
        margin: 0px 0px 12px -6px;
        .todo-list-pie-chart {
          margin-right: 10px;
        }
        .todo-list-header-container-right {
          margin-top: -30px;
          .todo-list-title {
            font-size: 2em;
            font-weight: 700;
            line-height: 1.2;
          }
        }
      }
    }
  }
}

.todo-items {
  margin-top: 8px;
  .todo-item {
    display: block;
    position: relative;
    margin-bottom: 9px;
    .todo-item-form {
      position: absolute;
      padding-top: 3px;
      .todo-item-checkbox {
        width: 20px;
        height: 20px;
        cursor: pointer;
      }
    }
    .todo-item-link {
      color: $dark-text-color;
      .todo-item-right-content {
        margin-left: 28px;
        display: block;
        .todo-item-description {
          font-size: 1.1em;
        }
        .assigned-to-container {
          bottom: 1px;
          .todo-item-assigned-to {
            margin-left: 7px;
            display: inline-flex;
            align-items: center;
            .assigned-to-name {
              margin-left: 5px;
            }
          }
        }
      }
    }
  }
}
