$todo-item-breakpoint: 769px;

.todo-item-details-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  .project-breadcrumb {
    padding-left: 20px;
    padding-right: 20px;
    @media screen and (max-width: $todo-item-breakpoint) {
      height: 100%;
      max-height: 70px;
      padding-bottom: 12px;
    }
  }
  .todo-item-detalis-card {
    margin-top: 10px;
    margin-bottom: 18px;
    padding: 20px;
    background-color: $card-background;
    box-shadow: $deep-box-shadow;
    width: 90%;
    max-width: 930px;
    min-height: 88vh;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    @media screen and (min-width: $navbar-breakpoint) {
      margin-bottom: 35px;
    }
    .todo-item-details {
      display: flex;
      flex-direction: column;
      width: 100%;
      max-width: 680px;
      padding-bottom: 25px;
      .todo-item-header-container {
        display: block;
        border-bottom: 1px solid $light-grey-border;
        padding-bottom: 20px;
        margin-bottom: 10px;
        margin-top: 40px;
        position: relative;
        @media screen and (max-width: $todo-item-breakpoint) {
          margin-top: 10px;
        }
        .todo-item-form {
          position: absolute;
          left: 120px;
          top: 7px;
          @media screen and (max-width: $todo-item-breakpoint) {
            left: 0px;
          }
          .todo-item-checkbox-container {
            display: block;
            position: relative;
            padding-left: 35px;
            margin-bottom: 12px;
            cursor: pointer;
            font-size: 22px;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;

            .todo-item-checkbox {
              position: absolute;
              opacity: 0;
              cursor: pointer;
              height: 0;
              width: 0;

              &:checked ~ .checkmark {
                background-color: $medium-green;
                border: 1px solid rgba(0, 0, 0, 0.05);
                &:after {
                  display: block;
                }
              }
            }

            .checkmark {
              position: absolute;
              top: 0;
              left: 0;
              height: 35px;
              width: 35px;
              background-color: $card-background;
              border: 1px solid rgba(0, 0, 0, 0.25);
              border-radius: 6px;

              &:after {
                content: "";
                position: absolute;
                display: none;
                left: 10px;
                top: 2px;
                width: 13px;
                height: 25px;
                border: solid white;
                border-width: 0 4px 4px 0;
                -webkit-transform: rotate(36deg);
                -ms-transform: rotate(36deg);
                transform: rotate(36deg);
              }
            }
          }
        }
        .todo-item-header-right {
          display: block;
          margin-left: 180px;
          @media screen and (max-width: $todo-item-breakpoint) {
            margin-left: 50px;
          }
          .todo-item-description {
            color: $dark-text-color;
            font-size: 2em;
            font-weight: 700;
            line-height: 1.15;
          }
        }
      }
      .details-table {
        margin: 0px 10px;
        color: $dark-text-color;
        .details-row {
          &:not(:last-child) {
            border-bottom: 1px solid $light-grey-border;
          }
          .right-column,
          .left-column {
            padding-top: 8px;
          }
          .left-column {
            padding-bottom: 0px;
            @media screen and (min-width: $todo-item-breakpoint) {
              text-align: right;
              padding-bottom: 8px;
            }
          }
          .right-column {
            padding-top: 4px;
            @media screen and (min-width: $todo-item-breakpoint) {
              padding-top: 8px;
            }
          }
          .assigned-to {
            display: flex;
            align-items: center;
            .user-avatar {
              margin-right: 6px;
            }
          }
        }
      }
    }
  }
}
