.user-avatar {
  border-radius: 50%;
  color: $card-background;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  flex-shrink: 0;
}

.user-avatar-45 {
  width: 45px;
  height: 45px;
  font-size: 1.3em;
}

.user-avatar-35 {
  height: 35px;
  width: 35px;
  font-size: 1em;
}

.user-avatar-20 {
  height: 20px;
  width: 20px;
  font-size: 0.65em;
}

.user-avatar-magenta { background-color: $magenta-avatar; }
.user-avatar-orange { background-color: $orange-avatar; }
.user-avatar-gray { background-color: $gray-avatar; }
.user-avatar-gold { background-color: $gold-avatar; }
.user-avatar-turquoise { background-color: $turquoise-avatar; }
.user-avatar-teal { background-color: $teal-avatar; }
.user-avatar-lime { background-color: $lime-avatar; }
.user-avatar-brown { background-color: $brown-avatar; }
.user-avatar-yellow { background-color: $yellow-avatar; }
