<div class="project-card">
  <%= link_to(project_path(project), class: "project-link") do %>
    <h2 class="project-title"><%= project.name %></h2>
    <p class="project-description"><%= truncate(project.description, length: 550, separator: " ") %></p>
    <div class="project-user-avatars">
      <%= render(partial: 'users/user', collection: project.users, cached: true) %>
    </div>
  <% end %>
</div>
