<div class="activity-container-<%= direction %>">
  <div class="activity">
    <%= render(partial: 'users/user', locals: { user: activity.user }, cache: true) %>
    <div class="activity-right-column">
      <h3 class="activity-title"><%= activity.title %></h3>
      <div class="activity-created-at has-text-grey-light">
        <%= activity.created_at.localtime.strftime("%B %-d, %Y") %>
      </div>
    </div>
  </div>
</div>
