<div class="project-tool-card">
  <%= link_to(project_tool.link, class: "project-tool-link", target: "_blank") do %>
    <h3 class="project-tool-card-header"><%= project_tool.name %></h3>
    <hr/>
    <div class="project-tool-contents-preview">
      <% if asset_exists?(project_tool.image_name) %>
        <%= image_tag(project_tool.image_name, class: "project-tool-image") %>
      <% else %>
        <%= raw project_tool.content_preview %>
      <% end %>
    </div>
  <% end %>
</div>
